[submodule "core/commons/vendored-data/ipfs-webui"]
	path = core/commons/vendored-data/ipfs-webui
	url = https://github.com/ipfs/ipfs-webui.git
[submodule "core/consensus/vendored/tendermint"]
	path = core/consensus/vendored/tendermint
	url = https://github.com/tendermint/tendermint.git
